@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Connect Four is available to play for registered players only.</p>
    <a style="font-weight:bold ;background-color:deepskyblue" class="btn" asp-area="" asp-page="/Players/Create">Click here to register</a>
    <p></p>
    <p>Already registered? Open the Desktop application and start playing!</p>
    <img src="https://www.target.com.au/medias/static_content/product/images/full/18/65/A1431865.jpg?impolicy=product_portrait_hero" />

</div>